!packages/build/
$tf/
*.*~
*.Cache
*.DotSettings.user
*.VisualState.xml
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.build.csdef
*.cachefile
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.gpState
*.ilk
*.ldf
*.log
*.mdf
*.meta
*.mm.*
*.ncb
*.ncrunch*
*.ncrunchproject
*.ncrunchsolution
*.nupkg
*.obj
*.opensdf
*.orig
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.psess
*.publishsettings
*.rdl.data
*.rsp
*.sbr
*.scc
*.sdf
*.sln.docstates
*.suo
*.svclog
*.swp
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.user
*.userprefs
*.vsp
*.vspscc
*.vspx
*.vssscc
*.zip
*_i.c
*_i.h
*_p.c
*~
.*crunch*.local.xml
.DS_Store
.JustCode
.builds
.sass-cache/
AppPackages/
AutoTest.Net/
BIN
Backup*/
Bin
ClientBin/
DEBUG
Debug
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
DocProject/buildhelp/
FakesAssemblies/
Generated_Code/
OBJ
Obj
RELEASE
Release
TestResult.xml
Thumbs.db
UpgradeLog*.XML
UpgradeLog*.htm
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult*/
\.DS_Store
_Chutzpah*
_NCrunch_*
_Re*
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
bin
bld/
build/
csx/
debug
dlldata.c
ipch/
node_modules/
obj
output.rtf
packages/
publish/
release
sql/
test-results
test-results/*
x64/
~$*
~*.*
/.vs
